- name: Add Docker apt repository key
  ansible.builtin.get_url:
    url: "{{ docker_gpg_key_url }}"
    dest: "/etc/apt/keyrings/docker.asc"
    mode: '0644'
    force: true

- name: Add Docker repository
  ansible.builtin.apt_repository:
    repo: "{{ docker_apt_repository }}"
    state: present

- name: Install Docker
  ansible.builtin.apt:
    name: "{{ item }}"
    state: present
    update_cache: true
  loop:
    - docker-ce
    - docker-ce-cli
    - containerd.io
    - docker-buildx-plugin
    - docker-compose-plugin

- name: Start Docker
  ansible.builtin.systemd:
    name: docker
    enabled: true
    state: started
